.img-loading {
  animation: animation-logo infinite 1s;
}

@keyframes animation-logo {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
